PORT=5000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb+srv://prakashhalwai59:Prakash2002@cluster0.dlz75bp.mongodb.net/

# JWT
JWT_SECRET=your_super_secret_jwt_key_here
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_EXPIRE=15m
JWT_REFRESH_EXPIRE=7d

# Email (Nodemailer)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your@gmail.com
EMAIL_PASS=your_app_password

# Client URL
CLIENT_URL=http://localhost:5173

# OTP expiry (minutes)
OTP_EXPIRE_MINUTES=10
